<section id="about" class="hero">
    <div >
        <p class="hero-content">
            Software Developer  with over 4 years of experience specializing in the MEAN stack (MongoDB, Express.js, Angular, Node.js). 
            Proficient in developing scalable and robust web applications, with expertise in designing and deploying enterprise-grade solutions. 
            Skilled at integrating APIs, managing databases, and building responsive front-end interfaces. Recognized for optimizing workflows, 
            driving system rollouts, and ensuring continuous improvement in software development processes. Adept at collaborating with 
            cross-functional teams to deliver innovative solutions for complex business needs.
        </p>

    </div>
  
        

  </section>
  