
.timeline {
    margin: 57px 14px;
    padding: 0 -6px;
    border-width: 39%;
    border-left: 7px dashed #2ca0c3;
    margin-top: 5%;
  
  }
  
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color:#acc0c5 ;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 20px;
  
  }

  .timeline-item {
    margin-bottom: 40px;
    position: relative;
    padding-left: 20px;
    
  }
  

  .timeline-item::before {
    content: "";
    position: absolute;
    left: -17px;
    top: 72px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #2ca0c3;;
  }
  
 
  .timeline-content {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: "maropeMedium";
  }
  
 
  .timeline-content h3 {
    margin: 0;
    font-size: 1.2rem;
    background-color: #446d79;
    color: #fff; 
  }
  

  .timeline-content h4 {
    margin: 5px 0;
    font-size: 1rem;
    color: #666;
  }
  
 
  .timeline-content p {
    font-size: 0.9rem;
    color: #555;
  }
  